<header class="header">
  <div class="icon-circle"><span class="icon fa-address-card"></span></div>
  <h1><a href="/" style="text-decoration:none;color:inherit;">Karlesnine <span>&#128172</span></a></h1>
  <p>Industrialisation et urbanisation des architectures et infrastructures cloud. Passionné par le monitoring, la convergence des métriques techniques / business et le FinOps.</p>
</header>
